<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <a href="http://www.borisdev.com/">{{email}}</a>

</div>

<article class="about">
<h2>Sobre mí</h2>
<p>Esta pagina forma parte de mi portafolio personal, se trata de un CRUD de proyectos con subida de imagenes, donde puedes crear, editar y eliminar proyectos.</p><br>
<b>Backend:</b> Desarrolle una API-REST Full con Node Js, para la conexión con el servidor utilice Express y  como base de datos utilice MongoDB.<br>
<b>FrontEnd:</b> utilice Angular como tecnologia para poder lograr y crear una pagina donde en ningun momento se recarge
mientras navegues en ella (Web SPA). <br>

<i>NOTA: Al hacer el Deploy de la aplicación, se me empezo a generar una serie de errores con la subida de imagen, errores que en local desaparecen y funciona perfecto.</i>

</article>
